

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

footer, header {
    background-color: crimson;
}


/* Style and spacing related to index.html */
.index-image {
    padding-right: 15px;
}

.index-headshot {
    width:100%;
    height:auto;
    max-height:500px;
    max-width:400px;
}

.index-intro {
    margin-top:50px;
    text-align: center;
}

.index-row {
    margin-bottom:75px;
}

.line-height {
    line-height: 1.6;
}

/* Style and spacing related to contact.html */
.contact-plate {
    margin-top: 125px;
}

.contact-plate h2 {
    text-align: center;
}


/* Style and spacing related to portfolio.html */
.portfolio-plate {
    margin-top: 125px;
}

.portfolio-image {
    margin-top:15px;
}

/* scales images with screen size */
.responsive {
    width: 200px;
    height: 200px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}